* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    padding-inline: 1.5rem;
    padding: 0;
    margin: 0;
  }
    
header img {
    width: 30px;
}

.navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #531253;
}

.logo {
    text-decoration: none;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.menu-link:hover {
    text-decoration: underline;
}

.bodyM {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}